@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #2b2b2b;
}

#wrap {
  width: 100%;
  min-width: 1200px;
}

/* header */
header {
  z-index: 100;
  width: 100%;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.active {
  top: 0;
}

header > .container > nav {
  width: 1200px;
  height: 60px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -600px;
}

header > .container > nav > .gnb > li {
  width: 228px;
  float: left;
}

header > .container > nav > .gnb > li > a {
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: all 0.4s;
}

header > .container > nav > .gnb > li:hover > a,
header > .container > nav > .gnb > li > a:focus,
header > .container > nav > .gnb > li.on > a {
  color: #425a73;
}

/* section - home */
#home {
  width: 100%;
  height: 960px;
  /* background-image: url(../images/main_banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
}

#home > .container {
  width: 1200px;
  height: 960px;
  margin: 0 auto;
  position: relative;
}

#home > .container > p {
  position: absolute;
  top: 60px;
  font-weight: 300;
  letter-spacing: 2px;
}

#home > .container > p:nth-child(1) {
  top: 26px;
  left: 60px;
}

#home > .container > p:nth-child(2) {
  right: 60px;
  transform: rotate(90deg);
}

#home > .container > h1 {
  position: absolute;
  left: 60px;
  top: 315px;
  font-weight: 700;
  font-size: 135px;
  color: #425a73;
  line-height: 0.9;
  letter-spacing: -3px;
}

/* #home > .container > h1 > .name {
  display: block;
  width: 390px;
  height: 194px;
  position: absolute;
  left: 300px;
  bottom: 70px;
  text-indent: -9999px;
} */

#home > .container > .des {
  font-size: 22px;
  line-height: 2rem;
  letter-spacing: -1.2px;
  color: #555;
  padding: 40px 0 0 10px;
  position: absolute;
  top: 550px;
  left: 60px;
}

/* section - aboutme */
#aboutme {
  width: 100%;
  height: 960px;
  position: relative;
}

#aboutme > .content1-left {
  height: 960px;
  float: left;
}

#aboutme > .content1-left > h2 {
  z-index: 10;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -540px;
  font-size: 70px;
  font-weight: 500;
  color: #425a73;
  letter-spacing: 1px;
}

#aboutme > .content1-left > a {
  display: block;
  z-index: 20;
  width: 358px;
  height: 460px;
  position: absolute;
  top: 290px;
  left: 50%;
  margin-left: -540px;
  text-align: justify;
}

#aboutme > .content1-left > a > p.img {
  width: 358px;
  height: 100vh;
  text-indent: -9999px;
  background-image: url(../image/myprofile.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

#aboutme > .content1-left > .about_bg {
  width: 700px;
  height: 570px;
  position: absolute;
  left: 0;
  bottom: 150px;
  background-color: rgba(158, 213, 246, 0.3);
}

#aboutme > .content1-right {
  width: 650px;
  height: 430px;
  position: absolute;
  top: 290px;
  right: 50%;
  margin-right: -600px;
  float: left;
}

#aboutme > .content1-right > .profile {
  width: 650px;
  height: 280px;
}

#aboutme > .content1-right > .profile > ul {
  width: 650px;
  height: 280px;
  position: relative;
}

#aboutme > .content1-right > .profile > ul > li {
  width: 650px;
  height: 280px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 16px;
  line-height: 2;
}

/* aboutme button remove */

/* #aboutme > .content1-right > .profile > button {
  width: 21px;
  height: 41px;
  outline: none;
  border: none;
  background: none;
  text-indent: -9999px;
  background-image: url(../image/arrow.png);
}

#aboutme > .content1-right > .profile > .prev {
  position: absolute;
  top: -42px;
  right: 50%;
  margin-right: -303px;
  background-position: 0 0;
}

#aboutme > .content1-right > .profile > .next {
  position: absolute;
  top: -42px;
  right: 50%;
  margin-right: -335px;
  background-position: -31px 0;
}

#aboutme > .content1-right > .profile > .prev:hover,
#aboutme > .content1-right > .profile > .prev.on {
  background-position: 0 -42px;
}

#aboutme > .content1-right > .profile > .next:hover,
#aboutme > .content1-right > .profile > .next.on {
  background-position: -31px -42px;
} */

#aboutme > .content1-right > .tag {
  width: 650px;
  height: 100px;
  position: absolute;
  bottom: -130px;
  left: 0;
}

#aboutme > .content1-right > .tag > ul > li {
  height: 40px;
  float: left;
  line-height: 26px;
  margin-left: 15px;
  margin-bottom: 10px;
}

#aboutme > .content1-right > .tag > ul > li:first-child {
  margin-left: 0;
}

#aboutme > .content1-right > .tag > ul > li > a {
  display: block;
  padding: 7px;
  font-size: 23px;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.4s;
}

#aboutme > .content1-right > .tag > ul > li:hover > a,
#aboutme > .content1-right > .tag > ul > li > a:focus,
#aboutme > .content1-right > .tag > ul > li.on > a {
  background-color: #f49389;
  font-size: 22px;
  color: #fff;
  border-radius: 18px;
}

/* section - skills */
#skills {
  height: 960px;
  margin: 0 auto;
  max-width: 1920px;
}

#skills > h2 {
  margin-bottom: 32px;
  font-size: 70px;
  font-weight: 500;
  color: #425a73;
  letter-spacing: 1px;
  text-align: center;
}

#skills > h2:first-child {
  padding-top: 200px;
}

#skills > .skill {
  display: flex;
  margin: 0 auto 150px;
  flex-wrap: nowrap;
  max-width: 1920px;
  justify-content: center;
}

#skills > .skill > li {
  margin: 20px;
  text-indent: -9999px;
}

#skills > .skill > li:nth-child(1) {
  width: 155px;
  height: 144px;
  transform: scale(1.2);
  background-image: url(../image/GA4-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#skills > .skill > li:nth-child(2) {
  width: 142px;
  height: 163px;
  margin-left: -5px;
  transform: scale(1.2);
  background-image: url(../image/TGM-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#skills > .skill > li:nth-child(3) {
  width: 130px;
  height: 144px;
  background-image: url(../image/html-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .skill > li:nth-child(4) {
  width: 145px;
  height: 144px;
  background-image: url(../image/css-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .skill > li:nth-child(5) {
  width: 103px;
  height: 144px;
  background-image: url(../image/js-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .skill > li:nth-child(6) {
  width: 139px;
  height: 144px;
  background-image: url(../image/jquery-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .skill > li:nth-child(7) {
  width: 178px;
  height: 145px;
  background-image: url(../image/restapi-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#skills > .skill > li:nth-child(8) {
  width: 127px;
  height: 144px;
  background-image: url(../image/json-file.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .tool {
  display: flex;
  margin: 0 auto 150px;
  max-width: 1920px;
  justify-content: center;
  align-items: flex-end;
}

#skills > .tool > li {
  margin: 20px;
  text-indent: -9999px;
  justify-content: center;
}

#skills > .tool > li:nth-child(1) {
  width: 178px;
  height: 157px;
  background-image: url(../image/figma-icon2.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: -2px;
}

#skills > .tool > li:nth-child(2) {
  width: 144px;
  height: 144px;
  background-image: url(../image/photoshop-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .tool > li:nth-child(3) {
  width: 148px;
  height: 144px;
  background-image: url(../image/illustraor-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#skills > .tool > li:nth-child(4) {
  width: 252px;
  height: 153px;
  background-image: url(../image/indesign-icon.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -23px;
}

/* section - portfolio */
#portfolio {
  height: 960px;
  margin: 0 auto;
  max-width: 1920px;
}

#portfolio > h2 {
  margin-bottom: 52px;
  padding-top: 200px;
  font-size: 70px;
  font-weight: 500;
  color: #425a73;
  letter-spacing: 1px;
  text-align: center;
}

#portfolio > .container > .mnu {
  width: 436px;
  margin: 0 auto;
}

#portfolio > .container > .mnu > li {
  float: left;
  margin-left: 20px;
  font-size: 20px;
}

#portfolio > .container > .mnu > li:first-child {
  margin-left: 0;
}

#portfolio > .container > .mnu > li:first-child:after {
  content: "";
}

#portfolio > .container > .mnu > li:after {
  display: block;
  margin: -25px 0 0 -10px;
  content: "|";
  font-size: 12px;
  color: #ccc;
}

#portfolio > .container > .mnu > li > a {
  display: block;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  transition: all 0.4s;
}

#portfolio > .container > .mnu > li:hover > a,
#portfolio > .container > .mnu > li > a:focus,
#portfolio > .container > .mnu > li.on > a {
  color: #425a73;
  font-weight: 700;
  font-size: 19px;
  background-color: rgba(158, 213, 246, 0.5);
  border-radius: 5px;
}

#portfolio > .container > .view {
  margin: 0 auto;
  position: relative;
  max-width: 1200px;
}

#portfolio > .container > .view > li {
  width: 1040px;
  height: 380px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 80px;
}

#portfolio > .container > .view > li:not(:first-child) {
  display: none;
}

#portfolio > .container > .view > li > h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

#portfolio > .container > .view > li > h3 > span {
  font-size: 22px;
}

#portfolio > .container > .view > li > p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.8;
}

#portfolio > .container > .view > li > .view_img {
  width: 480px;
  height: 384px;
  position: absolute;
  right: 80px;
  top: 80px;
  background-image: url(../image/knotted-mockup.png);
  background-size: cover;
}

#portfolio > .container > .view > li > .view_img:hover {
  transition: all ease 1s;
  transform: scale(1.15);
}

#portfolio > .container > .view > li:nth-child(2) > .view_img {
  background-image: url(../image/innuneco-mockup.png);
  background-size: cover;
}

#portfolio > .container > .view > li:nth-child(3) > .view_img {
  background-image: url(../image/knotted-mockup.png);
  background-size: cover;
}

#portfolio > .container > .view > li:nth-child(4) > .view_img {
  background-image: url(../image/innuneco-mockup.png);
  background-size: cover;
}

#portfolio > .container > .view > li > a {
  display: block;
  width: 140px;
  height: 40px;
  margin: 100px 10px 0 0;
  float: left;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  font-size: 500;
  color: #425a73;
  background-color: #fff;
  border: 1px solid #425a73;
  border-radius: 30px;
  transition: all 0.4s;
}

#portfolio > .container > .view > li > a:hover,
#portfolio > .container > .view > li > a:focus {
  color: #fff;
  background-color: #425a73;
}

/* section - contact */
#contact {
  width: 100%;
  height: 860px;
  position: relative;
  overflow: hidden;
}

#contact > h2 {
  position: absolute;
  right: 50%;
  top: 200px;
  margin-right: -450px;
  margin-bottom: 20px;
  font-size: 70px;
  font-weight: 500;
  color: #425a73;
  letter-spacing: 1px;
  text-align: center;
}

#contact > .contact_img {
  width: 800px;
  height: 375px;
  position: absolute;
  right: 50%;
  top: 300px;
  margin-right: -985px;
  background: url(../image/myprofile2.jpg) no-repeat;
  background-size: contain;
}

#contact > .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -90px;
  text-align: center;
}

#contact > .container > p {
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 1px;
}

#contact > .container > p + p:before {
  display: block;
  content: "/";
  padding: 20px 0;
  font-weight: 300;
  font-size: 30px;
  color: #425a73;
  opacity: 0.3;
}

#contact > .container > p + p {
  margin-bottom: 20px;
  font-size: 16px;
}

#contact > .container > .link {
  display: flex;
  width: 394px;
  margin: 0 auto;
}

#contact > .container > .link > a {
  height: 40px;
  line-height: 40px;
  color: #425a73;
  border: 1px solid #425a73;
  border-radius: 5px;
  transition: all 0.4s;
}

#contact > .container > .link > a.notion {
  width: 50%;
  margin-right: 10px;
}

#contact > .container > .link > a.git {
  width: 50%;
}

#contact > .container > .link > a:hover,
#contact > .container > .link > a:focus {
  color: #fff;
  background-color: #425a73;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  background-color: #425a73;
}

footer > address {
  padding-top: 30px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 1.6;
  text-align: center;
}
